.main-container
  flex-grow: 2
  overflow-y: scroll
  padding: 2em 15em
  main
    display: flex
    justify-content: flex-start
    flex-direction: column
    section
      height: 500px
      margin-bottom: 3em
